header {
    margin-top: 30px;
}
#sitename {
    padding: 30px 50px;
    margin: 30px;
    font-weight: bold;
    font-size:40px;
    color: midnightblue;
}
#searchbar {
    color: midnightblue;
    height: 30px;
    width: 700px;
    border: solid 6px;
}
#searchbutton {
    background-color: midnightblue;
    color: white;
    width: 50px;
    height: 30px;
}
.Book {
    box-sizing: border-box;
    height: 500px;
    width: 400px;
    margin: 0 auto;
}
.title {
    margin: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 30px;
}
.Shelf {
    column-count: 3;
    column-rule-color: gray;
    column-rule-style: solid;
    margin-bottom: 30px;
    display: flex;
}
.Site {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 20px;
}
.Image {
    display: block;
    margin: 0 auto;
    width:100%;
}
figcaption {
  color: #fff;
  background: rgba(55, 55, 55, 0.5);
  padding: 1em;
  line-height: 1;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

figure {
  margin: 0;
  line-height: 0;
  position: relative;
}

.kyobo_slides, .ala_slides, .yes_slides{
    display:inline-block;
    width: 70%;
}

.book_info{
    display:flex;
    align-items:center;
}

.btn{
    font-size: 50px;
    display: inline-block;
    width: 10%;
    cursor: pointer;
}