*{
    margin:0;
    padding:0;
}

.header {
    margin-top: 30px;
    overflow: hidden;
    min-width: 1190px;
    margin-bottom: 30px;
}
.header a:link, .navi a:visited {
    margin-top: 30px;
    overflow: hidden;
    min-width: 1190px;
    margin-bottom: 30px;
}
#sitename {
    padding: 30px 50px;
    margin: 30px;
    font-weight: bold;
    font-size:40px;
    color: midnightblue;
}
#searchbar {
    color: midnightblue;
    height: 30px;
    width: 700px;
    border: solid 6px;
}
#searchbutton {
    background-color: midnightblue;
    color: white;
    width: 50px;
    height: 30px;
}
.Besult {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 35px;
    padding-top: 10px;
    font-weight: bold;    
}

ul{
    list-style-type: none;
}

li{
    height: 200px;
}

.bookList{
    height: 1000px;
    width: 1500px;
    padding: 30px 15px 15px 50px;
}

.thumbnail{
    float: left;
    height: 180px;
    margin-right: 15px;
}

.book_info{
    float: left;
    height: 180px;
    line-height: 25px;
}

.book_desc{
    width:1000px;
}

.dis_price{
    color:#ff3e00;
    font-family: '굴림',gulim,Helvetica,sans-serif;
}