doctype html
head
  meta(charset='UTF-8')
  title WithBook
  link(href='main.css' rel='stylesheet')
.header
  a.sitename(href='#') WithBook
  form(action='/search' method='get')
    input#searchbar(type='text' name='search')
    button(id="searchbutton" type="submit") 검색
div
  h1.title 베스트셀러
  each profile in asd
    - bookname = profile.children[5].children[1].children[1].children[0].data
    - booklist = []
    - for(var i=0; i<5; i++){booklist.push(bookname[i])}
    - console.log(booklist)
  br
.Shelf
  .Book
    .book_name
      p.Site 교보문고
      br
    .book_info
      .btn
        a.prev(style='text-decoration: none;') &#x276E;
      .kyobo_slides
        figure
          img#ky(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next(style='text-decoration: none;') &#x276F;
  .Book
    .book_name
      p.Site 알라딘
      br
    .book_info
      .btn
        a.prev(style='text-decoration: none;') &#x276E;
      .ala_slides
        figure
          img#ala(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next(style='text-decoration: none;') &#x276F;
  .Book
    .book_name
      p.Site 예스24
      br
    .book_info
      .btn
        a.prev(style='text-decoration: none;') &#x276E;
      .yes_slides
        figure
          img#yes(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next(style='text-decoration: none;') &#x276F;
div
  h1.title &#xC2E0;&#xADDC; &#xB3C4;&#xC11C;
  br
.Shelf
  .Book
    .book_name
      p.Site 신규 도서
      br
    .book_info
      .btn
        a.prev_n(style='text-decoration: none;') &#x276E;
      .kyobo_slides
        figure
          img#ky1(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next_n(style='text-decoration: none;') &#x276F;
  .Book
    .book_name
      p.Site 알라딘
      br
    .book_info
      .btn
        a.prev_n(style='text-decoration: none;') &#x276E;
      .ala_slides
        figure
          img#ala1(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next_n(style='text-decoration: none;') &#x276F;
  .Book
    .book_name
      p.Site 예스24
      br
    .book_info
      .btn
        a.prev_n(style='text-decoration: none;') &#x276E;
      .yes_slides
        figure
          img#yes1(src='')
          figcaption 1. 그 해 우리는
      .btn
        a.next_n(style='text-decoration: none;') &#x276F;
div
  h1.title 이벤트
  div
    p.Site 교보문고
    div
      table.eventTable
        tr
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95131&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event1.jpg')
              figcaption 이벤트 1
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95126&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event2.jpg')
              figcaption 이벤트 2
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventPid=44402&classGb=KOR&PRE=Y')
                img.eventImage(src='./images/event/kobo/event3.jpg')
              figcaption 이벤트 3
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95119&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event4.jpg')
              figcaption 이벤트 4
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95130&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event5.jpg')
                figcaption 이벤트 5
        tr
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95114&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event6.jpg')
              figcaption 이벤트; 6
          td
            figure
              a(href='http://www.kyobobook.co.kr/prom/2022/pube/02/220209_rest.jsp')
                img.eventImage(src='./images/event/kobo/event7.jpg')
              figcaption 이벤트 7
          td
            figure
              a(href='http://www.kyobobook.co.kr/prom/2022/pube/02/220209_crazy.jsp')
                img.eventImage(src='./images/event/kobo/event8.jpg')
              figcaption 이벤트 8
          td
            figure
              a(href='http://www.kyobobook.co.kr/eventRenewal/eventViewByPid.laf?eventId=95121&classGb=KOR')
                img.eventImage(src='./images/event/kobo/event9.jpg')
              figcaption 이벤트 9
          td
            figure
              a(href='http://www.kyobobook.co.kr/prom/2022/pube/02/220209_sangsang.jsp')
                img.eventImage(src='./images/event/kobo/event10.jpg')
              figcaption 이벤트 10
div
  h1.title 도서사이트
  .bookSite
    table.siteTable(style='border:2px')
      tr
        td
          a(href='https://www.aladin.co.kr/home/welcome.aspx')
            img.logo(src='./images/logos/logo_aladin.jpg')
        td
          a(href='http://www.kyobobook.co.kr/index.laf')
            img.logo(src='./images/logos/logo_kyobo.jpg')
        td
          a(href='http://www.yes24.com/main/default.aspx')
            img.logo(src='./images/logos/logo_yes24.jpg')
        td
          a(href='http://www.ypbooks.co.kr/kor_index.yp')
            img.logo(src='./images/logos/logo_yp.jpg')
        td
          a(href='http://book.interpark.com/bookPark/html/book.html')
            img.logo(src='./images/logos/logo_interpark.jpg')
script(src='script.js')
script(src='script1.js')