doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
div
  h1
    | 이응민을 석방하라!!!!!!!!!!!!!
.search
  form(action='/search' method='get')
    label 검색창
    input(type='text' name='book')
    button(type="submit") 검색
.bestseller
  a(href='best') 베스트셀러